.tt{
	text-align:left;
	font-size:70px;
	font-weight: 900;
	font-family: "Calibri";
	color:#000;
	position: absolute;
	top:600px;
	left:20px;
}

body  {
	background-image: url("../img/back.png");
}

#myCanvas {
	border:1px solid #000000;
	background-color:white;
	position: absolute;
	top:0;
	left:0;
	cursor:url('../img/pen.png')15 50,none;
}


#small {
	margin:1px solid #000000;
	background-color: white;
	position: absolute;
	top:30px;
	left:1050px;
	cursor:crosshair;
}

#three {
	margin:1px solid #000000;
	background-color: white;
	position: absolute;
	top:30px;
	left:1320px;
	cursor:crosshair;
}

/*Button*/

.btn {
	height:80px;
	width:80px;
	margin-top: 10px;
	margin-left:10px;
	background-color: white;
	display:flexbox;
}

#brush {	
	position:absolute;
    top:320px;
    left:1010px;
	background-color: #e6ff78;
	background-image: url("../img/penbtn.png");
}

#eraser {
	position:absolute;
    top:320px;
    left:1110px;
	background-image: url("../img/eraserbtn.png");
}

#rectangle {
	position:absolute;
    top:320px;
	left:1210px;
	background-image: url("../img/rectangle.png");
}

#triangle {
	position:absolute;
    top:320px;
    left:1310px;
	background-image: url("../img/triangle.png");
}

#circle {
	position:absolute;
    top:320px;
    left:1410px;
	background-image: url("../img/circle.png");
}

#undo {
	position:absolute;
    top:420px;
    left:1010px;
	background-image: url("../img/undo.png");
}

#redo {
	position:absolute;
    top:420px;
    left:1110px;
	background-image: url("../img/redo.png");
}

#reset {
	position:absolute;
    top:420px;
    left:1210px;
	background-image: url("../img/resetbtn.png");
}

#download {
	position:absolute;
    top:420px;
    left:1310px;
	background-image: url("../img/downloadbtn.png");
}

#uploadbtn {
	position:absolute;
    top:420px;
    left:1410px;
	background-image: url("../img/uploadbtn.png");
}

#labelupload {
	position: absolute;
	top:420px;
	left: 1410px;
	margin-top: 10px;
	margin-left:10px;
	visibility: hidden;
}

#text {
	position:absolute;
	top:520px;
	left:1010px;
	background-image: url("../img/textbtn.png");
}

#txt {
	position:absolute;
	top:200;
	left:200;
	visibility: hidden;
}



.sbtn {
	height:35px;
	width:125px;
	background-color: white;
	border:3px black double;
	font-size:25px;
}

#font {
	position:absolute;
	top:530px;
	left:1120px;
}

#serif {
	position:absolute;
	top:565px;
	left:1120px;
	visibility: hidden;
}

#sans-serif {
	position:absolute;
	top:600px;
	left:1120px;
	visibility: hidden;
}

#cursive {
	position:absolute;
	top:635px;
	left:1120px;
	visibility: hidden;
}
#fantasy {
	position:absolute;
	top:670px;
	left:1120px;
	visibility: hidden;
}

#fontsize {
	position:absolute;
	top:530px;
	left:1260px;
}

#font12 {
	position:absolute;
	top:565px;
	left:1260px;
	visibility: hidden;
}

#font24 {
	position:absolute;
	top:600px;
	left:1260px;
	visibility: hidden;
}

#font36 {
	position:absolute;
	top:635px;
	left:1260px;
	visibility: hidden;
}

#font48 {
	position:absolute;
	top:670px;
	left:1260px;
	visibility: hidden;
}

/*slider*/

.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 200px; /* Full-width */
	height: 10px; /* Specified height */
	outline: none; /* Remove outline */
	border-radius: 5px;
}
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border:3px solid #000000;
	background: #FFFFFF;
	outline: black;
	cursor: pointer;
}

#penpixel {
	background: #000000;
	border-color: #000000;
	outline-color: #000000;
	position: absolute;
	top:300px;
    left:1100px;
	width: 400px;
}

/*div*/
#colorshow {
	width:100px;
	height:100px;
	position: absolute;
	top:30px;
	left:1400px;
	border-radius:10px;
}